.listing{
    background-color: #FAFAFB   ;
    height: 80vh;
}

.popular{
 padding-top: 40px;
 padding-left: 100px;

}
.popular h1{
    font-weight: bold;
}

.table-heading{
    display: flex;
justify-content: space-between;
width: 20%;
align-items: center;
color: var(--light-grey);
}

.listing-box{
    padding-top: 25px;
    padding-left: 100px;
}
.hot{
display: inline-block;
border-bottom: 3px solid var(--major-green);
padding-bottom: 5px;
color: black;
}

.main-table{
    width: 90%;
   margin-top: 30px;
   font-size: small;
}
.head{
 text-align: left;
color: var(--light-grey);
}

.table-body{
    padding-top: 10px;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color:var(--major-green) ;
}

.table-img img{
  width: 3.5%;
}

.table-chart img{
    width: 30%;
}

.table-body span{
    color: var(--light-grey);
    padding-left: 3px;
}

.btnn{
    width: fit-content;
        display: inline-block;
        color: white;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
        border: 2px solid var(--major-green);
        border-radius: 5px;
        background: var(--major-green);
        transition: var(--transition);
        box-shadow: 2px 2px 10px;
}
.btc-p{
color:var(--red);
}

.eth-p {
    color:var(--green);
}
.sol-p {
    color: var(--red);
}
.bnb-p {
    color: var(--green);
}
.ltc-p {
    color: var(--red);
}