/* .navel{
    color: red;
   
} */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 1px solid #eee;
   
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--major-green);
    margin-right: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 0.95rem;
    
}

.nav-links li {
    cursor: pointer;
    position: relative;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.signin {
    color: var(--major-green);
    text-decoration: none;
    font-size: 0.9rem;
}

.get-started {
    background-color:var(--major-green);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.icon {
    font-size: 1.1rem;
    cursor: pointer;
}



/* Dark mode styles */
/* body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1e1e1e;
}

body.dark-mode .nav-links li,
body.dark-mode .signin,
body.dark-mode .get-started {
    color: white;
}

body.dark-mode .get-started {
    background-color: #333;
    border: 1px solid #666;
} */