.start {
    background-color: var(--color-primary);
    height: 20vh;
    
}
.strt-txt{
   padding-top: 30px;
   text-align: center;
}

.strt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.btnn{
    width: max-content;
        display: inline-block;
        color: white;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
        border: 2px solid var(--major-green);
        border-radius: 5px;
        background: var(--major-green);
        transition: var(--transition);
        box-shadow: 2px 2px 10px;
}