.numbers{
    height:15vh;
background-color: var(--light-green);
color: var(--major-green);
}

.contaiiner{
display: flex;
    justify-content: space-around;
   align-items: center  ;
    flex-wrap: wrap;
    
    height: 100%;
}